<div class="container-fluid boxshadowft">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center py-5 ">
                Gérez votre argent facilement ! ☕ 
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bordercenterft py-5">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-3 text-center">
            <p class="copyright">© 2025 Revenux</p>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-2 text-center">
            <a class="inscriptiontxt" href="">
                S’inscrire ?
            </a>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-2 text-center">
            <a class="textnone text-danger" href="">Mentions légales</a>
        </div>
    </div>
</div>


